.background-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    z-index: -1;
}

.first-section {
    margin-top: 0 !important;
    background-color: white;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    color: white !important;
}

.nav-item.selected .nav-link {
    font-weight: bolder;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item a:hover {
    color: red !important;
    transition: 0.2s;
}

section:not(.first-section) {
    margin-top: 400px;
    background: white;
}
.navbar-nav {
    margin: auto;
}
@media screen and (max-width: 767px) {
    section:not(.first-section) {
        margin-top: 200px;
    }

    .navbar-nav {
        margin: unset !important;
    }
}

#top-recent-carousel {
    padding: 20px;
}

.carousel-item img {
    width: auto;
    height: 300px;
}

.container {
    width: 90%;
    max-width: 1100px !important;
    margin: auto;
}
.main-profile {
    background-color: #404EED;
    padding: 40px;
    text-align: center;
}

.main-profile .photo-wrapper img {
    width: 50%;
    max-width: 250px;
}

.main-profile .name-wrapper {
    padding-top: 20px;
}

.name-wrapper h1 {
    font-family: fantasy;
    font-weight: bolder;
    font-size: 3.5rem;
    margin: 0;
    color: white;
    letter-spacing: 3px
}

.title-wrapper {
    padding-top: 20px;

}

.title-wrapper h3 {
    font-size: 1.2em !important;
    color: white;
}

.button-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
}

.btn-circle {
    border-radius: 40px;
}

.btn-resume {
    min-width: 150px;
    background-color: white;
    height: 40px;
}

.btn-resume:hover {
    background-color: #d3d9df;
}

.btn-contact {
    min-width: 150px;
    background-color: black;
    color: white;
    height: 40px;
}

.about-me {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-me .title {
    font-weight: bolder;
    margin-bottom: 24px;
}

.about-me .content {
    color: #5a6268;
    font-family: sans-serif;
}

.about-me .sub-title {
    font-size: 20px;
    font-weight: bold;
}

.about-me li {
    padding-left: 10px !important;
    list-style-type: circle;
}


.section-name {
    font-weight: bolder;
    margin-bottom: 24px;
}

.footer-section {
    background-color: black !important;
    color: white;
}

.shop-item img{
    width: auto;
    height: 100%;
    max-width: 100%;
}

.card-header {
    height: 200px;
    text-align: center;
}

